[Unit]
Description=Mount NFSStorage for VM
Wants=network.target rpcbind.service
After=network.service rpcbind.service
[Mount]
What=10.1.4.1:/OPS_instances
Where=/var/lib/nova/instances
Type=nfs
Options=noatime
TimeoutSec=15
StandardOutput=syslog
StandardError=syslog
